VITE_API_BASE_URL=https://rcx-ui.qa.rcx-dev7.lmvi.net/api
VITE_ANALYTICS_URL=
VITE_OKTA_ENABLED=false
VITE_TOKEN_EXPIRATION_BUFFER=120
VITE_TOKEN_TYPE_FOR_CRUD=access_token
VITE_DECIMAL_PRECISION=2
VITE_DISABLE_MEMBER_UNMERGE=false
VITE_DISABLE_SEARCH_FL_NAME=false
VITE_DISABLE_SEARCH_PHONE=false
VITE_DISABLE_SEARCH_EMAIL=false
VITE_DISABLE_POINTS_DIVIDER=false
VITE_ENABLE_AUTO_EXPIRATION=false
